html, body, * {
  cursor: none !important;
}

.section.is-loading {
  cursor: none !important;
}

body {
  cursor: none;
}

.cursor-wrapper, .cursor, .inner-cursor, .default-cursor {
  display: none; /* Hide all cursor elements by default */
}
  
.cursor-wrapper {
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  left: 0;
  top: 0;
  transform: translate(0, 0);
  will-change: transform;
}

.default-cursor {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #A1FCCF; /* Use the color you prefer */
  position: absolute;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: background-color 0.2s cubic-bezier(0.87, 0, 0.13, 1);
  pointer-events: none;
  top: 0;
  left: 0;
}

.cursor {
  width: 24px;
  height: 24px;
  border: 1px solid #3F9854;
  border-radius: 50%;
  top: 0;
  left: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: all 0.2s cubic-bezier(0.87, 0, 0.13, 1), background-color 0.2s cubic-bezier(0.87, 0, 0.13, 1);
}

.inner-cursor {
  width: 1px;
  height: 1px;
  background-color: #3F9854;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.2s cubic-bezier(0.87, 0, 0.13, 1), background-color 0.2s cubic-bezier(0.87, 0, 0.13, 1);
}

.cursor.hover {
  width: 40px;
  height: 40px;
  border-color: #A1FCCF;
  border-width: 2px;
  background: rgba(161, 252, 207, 0.20);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.inner-cursor.hover {
  background-color: #A1FCCF;
  width: 8px;
  height: 8px;
  border-radius: 2px;
  opacity: 1;
  transform: rotate(45deg);
}
